{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="menu-title">Our Menu</h1>

<!-- Menu Container -->
<div class="menu-container">
    <!-- Loop through menu items -->
    {% for item in menu %}
    <div class="menu-item-card">
        <a href="{% url 'menu_item' pk=item.pk %}" class="menu-item-link">
            <div class="menu-item-header">
                <h3>{{ item.name }}</h3>
                <span class="menu-price">{{ item.price }}.00 INC</span>
            </div>
            <div class="menu-item-body">
                <p class="menu-item-description">
                    Delicious, freshly prepared {{ item.name }} with authentic flavors.
                </p>
            </div>
            <div class="column">
               <img src="{% static 'img/' %}{{item.name}}.jpg" alt="{{ item.name}}" />
           </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
